{%extends 'base.html'%}
{%include 'header.html'%}
{%block title%} Home {%endblock%}

{%block body%}

<div class="container">
    <div class="raw">
        <div class="col col-md-12">
            <div class="jumbotron p-3">
                <h2>Manage
                    <b>Product</b>

                        <button type="button" class="btn btn-success float-right " data-toggle="modal" data-target="#mymodal">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>Add New Product</button>
                 </h2>




                    <table class="table table-hover table-dark ">
                        <tr>
                            <th>ID</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Action </th>

                        </tr>

                        <tr>
                            <td>0</td>
                            <td>abddkjkjdkjdjk</td>
                            <td>amqdjdkjkjdjkdjk8888</td>
                            <td>
                                <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit">Edit</a>
                                <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                            </td>
                        </tr>

<!-- Modal Edit pruduct-->
<div id="modaledit" class="modal fade" role="dialog">
   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <h4 class="modal-title">Update Product</h4>


         </div>


         <div class="modal-body">


            <form action="" method="POST">


               <div class="form-group">


                  <label>Product Name:</label>
                   <input type="hidden"  name="id" value="">

                  <input type="text" class="form-control" name="product_name" value="" required="1">


               </div>



               <div class="form-group">


                  <label>Quantity:</label>

                  <input type="text" class="form-control" name="quantity" value="" required="1">


               </div>





               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Update</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>

</div>




                </table>


            </div>



                  <!-- Modal Add Employee-->


<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">

            <h4 class="modal-title">Add Product</h4>
         </div>
         <div class="modal-body">

            <form action="" method="POST">


               <div class="form-group">

                  <label>Product Name:</label>
                  <input type="text" class="form-control" name="product_name" required="1">


               </div>


                <div class="form-group">


                  <label>Quantity:</label>
                  <input type="email" class="form-control" name="quantity" required="1">


               </div>

               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Add Product</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>


</div>





        </div>

    </div>


</div>


{% endblock %}
