{%extends 'base.html'%}

{%block title%} Flask Task {%endblock%}

{%block body%}



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Inventory Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse float-right" id="navbarText">
    <ul class="navbar-nav mr-auto">

    </ul>
    <span class="navbar-text">

    </span>
      <span><ul class="navbar-nav mr-auto">
      <li class="nav-item active">

        <a class="nav-link" href="/">Overview<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">

        <a class="nav-link" href="/product">Product<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/location">Location<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/move">Movement<span class="sr-only">(current)</span></a>
      </li>
    </ul></span>
  </div>
</nav>


<div class="jumbotron p-3 text-hide">
    <div class="well ">
        <h1></h1>

    </div>

</div>











{%endblock%}

